@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 224 71.4% 4.1%;

    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;

    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;

    --primary: 220.9 39.3% 11%;
    --primary-foreground: 210 20% 98%;

    --secondary: 220 14.3% 95.9%;
    --secondary-foreground: 220.9 39.3% 11%;

    --muted: 220 14.3% 95.9%;
    --muted-foreground: 220 8.9% 46.1%;

    --accent: 220 14.3% 95.9%;
    --accent-foreground: 220.9 39.3% 11%;

    --success: 163 91% 39%;
    --success-foreground: 155 90% 41%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;

    --warning: 37 91% 55%;
    --warning-foreground: 37 91% 65%;

    --info: 204 88% 53%;
    --info-foreground: 204 88% 53%;

    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 224 71.4% 4.1%;

    --radius: 0.5rem;

    --score-veryLow: 0, 100%, 80%;
    --score-low: 35, 92%, 59%;
    --score-mediumLow: 52, 89%, 53%;
    --score-medium: 74, 68%, 52%;
    --score-mediumHigh: 170, 59%, 65%;
    --score-high: 149, 60%, 50%;
  }

  .dark {
    --background: 224 71.4% 4.1%;
    --foreground: 210 20% 98%;

    --card: 224 71.4% 4.1%;
    --card-foreground: 210 20% 98%;

    --popover: 224 71.4% 4.1%;
    --popover-foreground: 210 20% 98%;

    --primary: 210 20% 98%;
    --primary-foreground: 220.9 39.3% 11%;

    --secondary: 215 27.9% 16.9%;
    --secondary-foreground: 210 20% 98%;

    --muted: 215 27.9% 16.9%;
    --muted-foreground: 217.9 10.6% 64.9%;

    --accent: 215 27.9% 16.9%;
    --accent-foreground: 210 20% 98%;

    --success: 163 91% 39%;
    --success-foreground: 155 90% 41%;

    --destructive: 0 62.8% 41.6%;
    --destructive-foreground: 210 20% 98%;

    --warning: 37 91% 55%;
    --warning-foreground: 37 91% 65%;

    --info: 204 88% 53%;
    --info-foreground: 204 88% 53%;

    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --ring: 216 12.2% 83.9%;

    --radius: 0.5rem;

    --score-veryLow: 0, 100%, 80%;
    --score-low: 35, 92%, 59%;
    --score-mediumLow: 52, 89%, 53%;
    --score-medium: 74, 68%, 52%;
    --score-mediumHigh: 170, 59%, 65%;
    --score-high: 149, 60%, 50%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
